.Home-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #4341A4;
    justify-content: space-between;
    flex-direction: column;
    
    align-items: center;
}
.Footer{
    width: 100%;
    height: 45vh;
    
    background-image: url('../../assets/footer1.svg');
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}
.Footer img{
    height: 60%;
    margin-right: 5%;
}
.Middle{
    width: 65%;
    height: 40vh;
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-position: center;
   background-size: cover;
}
.Middle img{
    z-index: 1;
    position: relative;
}
.Middle h1{
    z-index: 100;
    position: absolute;
    margin-top: 7%;
    color: white;
    font-size: 53px;
}
.Start{
    width: 100%;
}
.Top{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.Enter-Middle{
    width: 100%;
    height: 10vh;
 
    display: flex;
    justify-content: center;
}
.Part1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Part1 img{
    width: 35%;
}
.Part2{
    width: 60%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Menu1{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F36648;
    border-radius: 0px 0px 200px 200px;
-moz-border-radius: 0px 0px 200px 200px;
-webkit-border-radius: 0px 0px 200px 200px;
border: 0px solid #000000;
cursor: pointer;
}
.Menu1:hover{
    background: #FBA524;
}
.Menu1 a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.Menu2{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu2 a{
    color: white;
    text-decoration: none;
    color: #F36648;
    font-size: 20px;
    font-weight: 500;
}
.Menu3 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu3 a{
    color: white;
    text-decoration: none;
    color: #F36648;
    font-size: 20px;
    font-weight: 500;
}